/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
}

/** FONTS **/
/*! main-text-regular */
@font-face {
  font-family: "main-text-regular";
  src: url("../fonts/freesans.woff") format("woff"), url("../fonts/freesans.woff2") format("woff2");
}
/*! main-text-bold */
@font-face {
  font-family: "main-text-bold";
  src: url("../fonts/freesansbold.woff") format("woff"), url("../fonts/freesansbold.woff2") format("woff2");
}
/*! main-text-link */
@font-face {
  font-family: "main-text-link";
  src: url("../fonts/freesansbold.woff") format("woff"), url("../fonts/freesansbold.woff2") format("woff2");
}
/*! label-text */
@font-face {
  font-family: "label-text";
  src: url("../fonts/freesans.woff") format("woff"), url("../fonts/freesans.woff2") format("woff2");
}
/*! heading */
@font-face {
  font-family: "heading";
  src: url("../fonts/freesansbold.woff") format("woff"), url("../fonts/freesansbold.woff2") format("woff2");
}
/** CUSTOM PROPERTIES **/
:root {
  /** COLOR **/
  /*! Background Color */
  /*! black */
  --bg-black: #161616;
  /*! highlight-black */
  --bg-highlight-black: #212121;
  /*! white */
  --bg-white: #FFF;
  /*! white-muted */
  --bg-white-muted: rgba(255, 255, 255, 0.6);
  /*! bright-green-100 */
  --bg-bright-green-100: rgb(146, 191, 48);
  --bg-bright-green-100-light-20: rgb(189.2384937238, 221.0585774059, 119.9414225941);
  --bg-bright-green-100-light-30: rgb(209.0836820084, 231.3012552301, 160.6987447699);
  --bg-bright-green-100-dark-20: rgb(83.690376569, 109.4853556485, 27.5146443515);
  --bg-bright-green-100-dark-30: rgb(52.5355648536, 68.7280334728, 17.2719665272);
  /*! bright-green-60 */
  --bg-bright-green-60: rgba(146, 191, 48, 0.6);
  --bg-bright-green-60-light-20: rgba(189.2384937238, 221.0585774059, 119.9414225941, 0.6);
  --bg-bright-green-60-light-30: rgba(209.0836820084, 231.3012552301, 160.6987447699, 0.6);
  --bg-bright-green-60-dark-20: rgba(83.690376569, 109.4853556485, 27.5146443515, 0.6);
  --bg-bright-green-60-dark-30: rgba(52.5355648536, 68.7280334728, 17.2719665272, 0.6);
  /*! bright-green-40 */
  --bg-bright-green-40: rgba(146, 191, 48, 0.6);
  --bg-bright-green-40-light-20: rgba(189.2384937238, 221.0585774059, 119.9414225941, 0.6);
  --bg-bright-green-40-light-30: rgba(209.0836820084, 231.3012552301, 160.6987447699, 0.6);
  --bg-bright-green-40-dark-20: rgba(83.690376569, 109.4853556485, 27.5146443515, 0.6);
  --bg-bright-green-40-dark-30: rgba(52.5355648536, 68.7280334728, 17.2719665272, 0.6);
  /*! Foreground Color */
  /*! black */
  --fg-black: #161616;
  /*! highlight-black */
  --fg-highlight-black: #212121;
  /*! white */
  --fg-white: #FFF;
  /*! white-muted */
  --fg-white-muted: rgba(255, 255, 255, 0.6);
  /*! bright-green-100 */
  --fg-bright-green-100: rgb(146, 191, 48);
  --fg-bright-green-100-light-20: rgb(189.2384937238, 221.0585774059, 119.9414225941);
  --fg-bright-green-100-light-30: rgb(209.0836820084, 231.3012552301, 160.6987447699);
  --fg-bright-green-100-dark-20: rgb(83.690376569, 109.4853556485, 27.5146443515);
  --fg-bright-green-100-dark-30: rgb(52.5355648536, 68.7280334728, 17.2719665272);
  /*! bright-green-60 */
  --fg-bright-green-60: rgba(146, 191, 48, 0.6);
  --fg-bright-green-60-light-20: rgba(189.2384937238, 221.0585774059, 119.9414225941, 0.6);
  --fg-bright-green-60-light-30: rgba(209.0836820084, 231.3012552301, 160.6987447699, 0.6);
  --fg-bright-green-60-dark-20: rgba(83.690376569, 109.4853556485, 27.5146443515, 0.6);
  --fg-bright-green-60-dark-30: rgba(52.5355648536, 68.7280334728, 17.2719665272, 0.6);
  /*! bright-green-40 */
  --fg-bright-green-40: rgba(146, 191, 48, 0.6);
  --fg-bright-green-40-light-20: rgba(189.2384937238, 221.0585774059, 119.9414225941, 0.6);
  --fg-bright-green-40-light-30: rgba(209.0836820084, 231.3012552301, 160.6987447699, 0.6);
  --fg-bright-green-40-dark-20: rgba(83.690376569, 109.4853556485, 27.5146443515, 0.6);
  --fg-bright-green-40-dark-30: rgba(52.5355648536, 68.7280334728, 17.2719665272, 0.6);
  /** FONT **/
  --main-text-regular: "main-text-regular";
  --main-text-bold: "main-text-bold";
  --main-text-link: "main-text-link";
  --label-text: "label-text";
  --transition: all 0.4s ease;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-white);
  font-family: "main-text-regular";
}

/** UTILITY: Colors **/
/*! Background Color */
/*! black */
.bg-black {
  background-color: var(--bg-black);
}

/*! highlight-black */
.bg-highlight-black {
  background-color: var(--bg-highlight-black);
}

/*! white */
.bg-white {
  background-color: var(--bg-white);
}

/*! white-muted */
.bg-white-muted {
  background-color: var(--bg-white-muted);
}

/*! bright-green-100 */
.bg-bright-green-100 {
  background-color: var(--bg-bright-green-100);
}

.bg-bright-green-100-light-20 {
  background-color: var(--bg-bright-green-100-light-20);
}

.bg-bright-green-100-light-30 {
  background-color: var(--bg-bright-green-100-light-30);
}

.bg-bright-green-100-dark-20 {
  background-color: var(--bg-bright-green-100-dark-20);
}

.bg-bright-green-100-dark-30 {
  background-color: var(--bg-bright-green-100-dark-30);
}

/*! bright-green-60 */
.bg-bright-green-60 {
  background-color: var(--bg-bright-green-60);
}

.bg-bright-green-60-light-20 {
  background-color: var(--bg-bright-green-60-light-20);
}

.bg-bright-green-60-light-30 {
  background-color: var(--bg-bright-green-60-light-30);
}

.bg-bright-green-60-dark-20 {
  background-color: var(--bg-bright-green-60-dark-20);
}

.bg-bright-green-60-dark-30 {
  background-color: var(--bg-bright-green-60-dark-30);
}

/*! bright-green-40 */
.bg-bright-green-40 {
  background-color: var(--bg-bright-green-40);
}

.bg-bright-green-40-light-20 {
  background-color: var(--bg-bright-green-40-light-20);
}

.bg-bright-green-40-light-30 {
  background-color: var(--bg-bright-green-40-light-30);
}

.bg-bright-green-40-dark-20 {
  background-color: var(--bg-bright-green-40-dark-20);
}

.bg-bright-green-40-dark-30 {
  background-color: var(--bg-bright-green-40-dark-30);
}

/*! Foreground Color */
/*! black */
.fg-black {
  color: var(--fg-black);
}

/*! highlight-black */
.fg-highlight-black {
  color: var(--fg-highlight-black);
}

/*! white */
.fg-white {
  color: var(--fg-white);
}

/*! white-muted */
.fg-white-muted {
  color: var(--fg-white-muted);
}

/*! bright-green-100 */
.fg-bright-green-100 {
  color: var(--fg-bright-green-100);
}

.fg-bright-green-100-light-20 {
  color: var(--fg-bright-green-100-light-20);
}

.fg-bright-green-100-light-30 {
  color: var(--fg-bright-green-100-light-30);
}

.fg-bright-green-100-dark-20 {
  color: var(--fg-bright-green-100-dark-20);
}

.fg-bright-green-100-dark-30 {
  color: var(--fg-bright-green-100-dark-30);
}

/*! bright-green-60 */
.fg-bright-green-60 {
  color: var(--fg-bright-green-60);
}

.fg-bright-green-60-light-20 {
  color: var(--fg-bright-green-60-light-20);
}

.fg-bright-green-60-light-30 {
  color: var(--fg-bright-green-60-light-30);
}

.fg-bright-green-60-dark-20 {
  color: var(--fg-bright-green-60-dark-20);
}

.fg-bright-green-60-dark-30 {
  color: var(--fg-bright-green-60-dark-30);
}

/*! bright-green-40 */
.fg-bright-green-40 {
  color: var(--fg-bright-green-40);
}

.fg-bright-green-40-light-20 {
  color: var(--fg-bright-green-40-light-20);
}

.fg-bright-green-40-light-30 {
  color: var(--fg-bright-green-40-light-30);
}

.fg-bright-green-40-dark-20 {
  color: var(--fg-bright-green-40-dark-20);
}

.fg-bright-green-40-dark-30 {
  color: var(--fg-bright-green-40-dark-30);
}

.main-text-regular-12 {
  font-family: "main-text-regular";
  font-size: 0.75rem;
}

.main-text-regular-14 {
  font-family: "main-text-regular";
  font-size: 0.875rem;
}

.main-text-regular-16 {
  font-family: "main-text-regular";
  font-size: 1rem;
}

.main-text-regular-18 {
  font-family: "main-text-regular";
  font-size: 1.125rem;
}

.main-text-regular-20 {
  font-family: "main-text-regular";
  font-size: 1.25rem;
}

.main-text-bold-12 {
  font-family: "main-text-bold";
  font-size: 0.75rem;
}

.main-text-bold-14 {
  font-family: "main-text-bold";
  font-size: 0.875rem;
}

.main-text-bold-16 {
  font-family: "main-text-bold";
  font-size: 1rem;
}

.main-text-bold-18 {
  font-family: "main-text-bold";
  font-size: 1.125rem;
}

.main-text-bold-20 {
  font-family: "main-text-bold";
  font-size: 1.25rem;
}

.main-text-link-12 {
  font-family: "main-text-link";
  font-size: 0.75rem;
}

.main-text-link-14 {
  font-family: "main-text-link";
  font-size: 0.875rem;
}

.main-text-link-16 {
  font-family: "main-text-link";
  font-size: 1rem;
}

.label-text-12 {
  font-family: "label-text";
  font-size: 0.75rem;
}

.label-text-14 {
  font-family: "label-text";
  font-size: 0.875rem;
}

.label-text-16 {
  font-family: "label-text";
  font-size: 1rem;
}

.label-text-18 {
  font-family: "label-text";
  font-size: 1.125rem;
}

.label-text-20 {
  font-family: "label-text";
  font-size: 1.25rem;
}

.label-text-22 {
  font-family: "label-text";
  font-size: 1.375rem;
}

.label-text-24 {
  font-family: "label-text";
  font-size: 1.5rem;
}

.label-text-26 {
  font-family: "label-text";
  font-size: 1.625rem;
}

.label-text-28 {
  font-family: "label-text";
  font-size: 1.75rem;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.is-flex {
  display: flex;
}

.is-row {
  flex-direction: row;
}

.is-column {
  flex-direction: column;
}

.float-right {
  justify-content: flex-end;
}

.float-start {
  justify-content: flex-start;
}

.float-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

a {
  color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease;
  font-family: "main-text-bold";
}
a:hover {
  color: rgb(0, 0, 0);
}

p a {
  color: rgba(137, 126, 108, 0.6);
  transition: all 0.4s ease;
  font-family: "main-text-bold";
}

h1 {
  font-family: "heading";
  font-size: 2.625rem;
}

h2 {
  font-family: "heading";
  font-size: 2rem;
}

h3 {
  font-family: "heading";
  font-size: 1.75rem;
}

h4 {
  font-family: "heading";
  font-size: 1.625rem;
}

h5 {
  font-family: "heading";
  font-size: 1.5rem;
}

h6 {
  font-family: "heading";
  font-size: 1.375rem;
}

/* Uncomment when using atomic-bomb */
.Logo {
  font-family: "main-font-regular", sans-serif;
  padding: 20px;
  border: 1px solid var(--fg-bright-green-100);
}
.Label[data-object-type=primary] {
  background-color: lime;
}

/*# sourceMappingURL=main.css.map */
